@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

:root {
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, .363)
}

body {
    font-family: "Carrois Gothic", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header {
    height: 80px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.header-list {
    text-transform: uppercase;
}

.anime-diary-logo {
    position: fixed;
    height: 69px;
    width: 108px;
    top: .8%;
    left: 44.5%;
}

.header-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 0; /* 0 15px */
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.home {
    align-content: center;
}

.home-title {
    margin-top: 210px;
    margin-bottom: 50px;
}

.home-cards {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: hidden;
}

.home-card {
    width: 200px;
    height: 325px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all .5s ease;
    background-color: #fff;
}

.home-card:hover {
    border: 1px solid #000;
}

.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.card-img {
    width: 195px;
    height: 195px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    background-image: url(../img/buttons/anime_diary/element_button.png);
    transition: all .5s ease;
    z-index: 2;
}

.home-btn:hover {
    border: 1px solid #000;
}

.frame-tl {
    position: fixed;
    bottom: 59%;
    z-index: -1;
}

.frame-tr {
    position: fixed;
    right: 0%;
    bottom: 59%;
    z-index: -1;
}

.frame-bl {
    position: fixed;
    /* top: 83%; */
    bottom: 0%;
    z-index: -1;
}

.frame-br {
    position: fixed;
    right: 0%;
    bottom: 0%;
    /* top: 83%; */
    z-index: -1;
}

.body-logo-top {
    position: absolute;
    top: 12.5%;
    left: 44.5%;
}

.body-logo-bottom {
    height: 69px;
    width: 108px;
    bottom: 0%;
    left: 44.5%;
}

.detail-image {
    width: 650px;
    height: 650px;
}

.detail-product {
    margin-top: 80px;
}

.detail-description {
    margin-left: 40px;
    margin-top: 40px;
}

.detail-description p {
    margin-left: 30px;
    margin-top: 700px;
}

.detail-description h2 span {
    font-size: 56px;
}

.cart-discount {
    margin-top: -10px;
    font-weight: 600;
}

.cart-discount .price {
    margin-top: -1px;
}

.line {
    opacity: .7;
    text-decoration: line-through;
    font-weight: 300;
}

.cart-btn {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all .4s ease;
    z-index: 2;
}

.cart-btn:hover {
    border: 1px solid #000;
}


.main {
    margin-left: 50px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}

.sidebar {
    margin-top: 70px;
    margin-left: 150px;
}

.category-list {
    margin-left: -80px;
}

.sidebar ul li {
    font-size: 20px;
    width: 165px;
    height: 35px;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin-left: 15px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.selected {
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url(../img/buttons/anime_diary/element_button.png);
}

/* Pagination */
.pagination {
    display: flex;
    position: absolute;
    bottom: -0%;
    left: 44%;
    gap: 12px;
    justify-content: center;
}

.disabled {
    opacity: .2;
}

.cart-counter-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.cart-quantity {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: -40px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
}

.cart {
    flex-direction: column;
}

.cart-title {
    margin-left: 75px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.cart-cards {
    /* min-height: 26vh; */
    max-height: 52vh;
    width: 750px;
    overflow-y: auto;
    margin-left: 75px;
}

.cart-card {
    display: flex;
    /* Сделать длиннее, после создания кастомной кнопки */
    width: 570px;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #00000042;
    border-radius: 10px;
    /* Стилизовать кнопку */
    background-image: url(../img/buttons/stock/cfr2.png); 
    background-repeat: no-repeat;
}

.cart-card:nth-child(even) {
    /* Стилизовать кнопку */
    background-image: url(../img/buttons/stock/cfr1.png);
    background-repeat: no-repeat;
}

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1 solid #00000042;
}

.cart-card-name {
    width: 180px;
}

.remove-btn {
    display: flex;
    /* width: 100px;
    height: 30px; */
    box-shadow: none;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
    border: 1px solid #00000042;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.remove-btn:hover {
    border: 1px solid #000;
}

.cart-buttons {
    margin-top: 15px;
    margin-left: 75px;
}

.cart-btn-continue-shopping {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000042;
    background-image: url(../img/buttons/anime_diary/element_button.png);
    border-radius: 5px;
    transition: all .5s ease;
}

.cart-btn-continue-shopping:hover {
    border: 1px solid #000;
}

.cart-btn-checkout {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000042;
    background-image: url(../img/buttons/anime_diary/element_button.png);
    border-radius: 5px;
    transition: all .5s ease;
}

.cart-btn-checkout:hover {
    border: 1px solid #000;
}

.cart-card-price {
    font-size: 16px;
}

.cart-total-price-ots {
    font-size: 18px;
    margin-bottom: 25px;
}

.cart-total-price {
    margin: 0;
}

.total {
    margin-top: 15px;
    margin-left: 75px;
}

.cart-form {
    margin-top: 25px;
}

.add-to-cart-btn {
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #00000042;
    border-radius: 5px;
    margin: 0;
    transition: all .5s ease-out;
    margin-top: 25px;
}

.add-to-cart-btn:hover {
    border: 1px solid #000;
}