.frame-tl {
  position: absolute;
  bottom: 55%;
  z-index: -1;
}

.frame-tr {
  position: absolute;
  right: 0%;
  bottom: 55%;
  z-index: -1;
}

.frame-bl {
  position: absolute;
  bottom: 0%;
  z-index: -1;
}

.frame-br {
  position: absolute;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

@media (display-mode: fullscreen) {
  .frame-tl {
    position: absolute;
    bottom: 59%;
    z-index: -1;
  }

  .frame-tr {
    position: absolute;
    right: 0%;
    bottom: 59%;
    z-index: -1;
  }
}